# Cepheus Git ignore

# Template built files - these should match the build.yaml files section except with leading '/'
# /bootstrap/common/bootstrap_prereqs.sh
# /bootstrap/common/bootstrap_validate_env.sh
# /bootstrap/vms/base_environment.sh
# /data/build.sh

# Private data
/data/private/*.yaml
/data/private/*.yml
/data/private/*.json
/data/private/*.sh

# Created build file for public
/data/public/build.yaml

# Environment
/bootstrap/data/environment/
/bootstrap/vms/environment_config.yaml
/bootstrap/vms/build_environment_config.yaml
environment_config.yaml
build_environment_config.yaml

# Files/directories marked for removal
*remove_*

# Standard
~$*
.DS_Store
ceph-chef/
.idea/
.iml/
.chef/
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
*.env

*.old

# Don't save any iso images
*.iso

# SSH key pair - regenerated on each build
bootstrap/vms/cepheus
bootstrap/vms/cepheus.pub
certs/*.pem
certs/*.crt
