# Cepheus Git ignore

# NO KEYS - Keys should be private
*.key
*.key.*

# Template built files - these should match the build.yaml files section except with leading '/'
/bootstrap/common/*
!/bootstrap/common/README.md

/data/build.sh
/data/build_init_update.sh
/data/data_files.sh
/data/data_templates.sh

# Cookbook related files that get built by template engine
/cookbooks/cepheus/metadata.rb
/cookbooks/cepheus/recipes/cobbler-install.rb
/cookbooks/cepheus/recipes/cobbler-sync.rb
/cookbooks/cepheus/templates/cobbler.dhcp.template.erb
/cookbooks/cepheus/templates/zabbix-userparameter-radosgw.conf.erb

# Everything is template driven
/environments/*.json

/tmp/

# Private data
/data/private/*.yaml
/data/private/*.yml
/data/private/*.json
/data/private/*.sh

# Vagrant related
/bootstrap/vms/vagrant/vagrant.ssh.config
/bootstrap/vms/vagrant/tmp_authorized_keys
/bootstrap/vms/vagrant/CEPH_UP_VAGRANT

# Created build file for any environment
build.yaml

# Environment
/bootstrap/data/environment/
/bootstrap/vms/environment_config.yaml
/bootstrap/vms/build_environment_config.yaml
environment_config.yaml
build_environment_config.yaml

# Standard
~$*
.DS_Store
ceph-chef/
.idea/
.iml/
.chef/
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
*.env

*.old

# Don't save any iso images
*.iso

# SSH key pair - regenerated on each build
bootstrap/vms/cepheus
bootstrap/vms/cepheus.pub
certs/*.pem
certs/*.crt
