# Cepheus Git ignore

# Template built files - these should match the build.yaml files section except with leading '/'
/bootstrap/common/bootstrap_prereqs.sh
/bootstrap/common/bootstrap_validate_env.sh
/bootstrap/common/cepheus_build_update.sh
/bootstrap/common/cepheus_bootstrap_init.sh
/bootstrap/common/cepheus_backup_no_rsync.sh
/bootstrap/common/cepheus_backup_rsync.sh
/bootstrap/common/base_environment.sh
/bootstrap/common/base.sh
/bootstrap/common/bootstrap_chef_server.sh
/bootstrap/common/chef_runlists_update.sh
/data/build.sh
/data/data_files.sh
/data/data_templates.sh

# Cookbook related files that get built by template engine
/cookbooks/cepheus/metadata.rb
/cookbooks/cepheus/recipes/cobbler-install.rb
/cookbooks/cepheus/recipes/cobbler-sync.rb
/cookbooks/cepheus/templates/cobbler.dhcp.template.erb
/cookbooks/cepheus/templates/zabbix-userparameter-radosgw.conf.erb

/tmp/

# Private data
/data/private/*.yaml
/data/private/*.yml
/data/private/*.json
/data/private/*.sh

# Created build file for any environment
build.yaml

# Environment
/bootstrap/data/environment/
/bootstrap/vms/environment_config.yaml
/bootstrap/vms/build_environment_config.yaml
environment_config.yaml
build_environment_config.yaml

# Standard
~$*
.DS_Store
ceph-chef/
.idea/
.iml/
.chef/
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
*.env

*.old

# Don't save any iso images
*.iso

# SSH key pair - regenerated on each build
bootstrap/vms/cepheus
bootstrap/vms/cepheus.pub
certs/*.pem
certs/*.crt
