#!/bin/bash
#
# Author: Chris Jones <chris.jones@lambdastack.io>
# Copyright 2017, LambdaStack
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Sets the base roles for the nodes so as to start over...
# Test
DATE=`date`
PARENT="$(ps -o comm= $PPID)"
NAME=`basename "$0"`
echo "$NAME - called by - $PARENT on $DATE" >> $HOME/debug.txt

source {{ cache.repo }}/bootstrap/common/base_colors.sh
source {{ cache.repo }}/bootstrap/common/base.sh

echo_yellow "====> Deleting Chef Tags..."

# CEPH_NODES comes from base.sh (all nodes less bootstrap node)
for node in ${CEPH_NODES[@]}; do
    # Get tags from given node
    for tag in $(knife tag list $node); do
        knife tag delete $node $tag
    done
done
