export CEPH_OSD_HOSTS=( {% for node in inventory.nodes %} {%- for role in node.roles %} {%- if role == "osd" %}{{ node.name }}{%- endif %} {%- endfor %} {% endfor %} )
export CEPH_OSD_DRIVES={{ ceph.osd.devices|length }}
